body, html {
  margin-top: 5%;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.autocomplete-wrapper {
  position: relative;
  width: 300px;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #e9e9e9;
}



.search-container {
  width: 90%;
  max-width: 500px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.search-container input[type="text"]:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
}

@media (max-width: 600px) {
  .search-container input[type="text"] {
      font-size: 16px;
      padding: 12px;
  }
}
